<% include partials/header %>
    <div class="container">
        <div class="row margin-content">
            <% _data.forEach(function(data){ %>  
            <% data.postUrl = data.postUrl.startsWith("https") ? data.postUrl : `https://${data.postUrl}`%>
            <div class="col-md-6 col-sm-12">     
                <div class="img-thumbnail card-margin">
                    <img class="img-fluid" src="<%= data.imgUrl %>" alt="izone"/>
                    <div class="caption-full">
                        <div class="btn-group dropright float-right">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <strong>...</strong>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="<%= data.postUrl %>" target="_blank">Instagram Link</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="<%= data.imgUrl %>" target="_blank">View/Download Image</a>
                            </div>
                        </div>
                        <a href="<%= data.profileUrl %>" target="_blank"><%= data.username %></a>
                        <div>
                            <i class="heart icon heart-color"></i><%= data.likeCount %>
                            <span class="comment-set"><i class="comment outline icon"></i><%= data.commentCount %></span>
                        </div>
                        <p><%= data.description %></p>                        
                    </div>
                </div>   
            </div>
            <% }); %>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<% include partials/footer %>